@import url('./__content/popup__content.css');
@import url('./__close/popup__close.css');
@import url('./__title/popup__title.css');
@import url('./__subtitle/popup__subtitle.css');
@import url('./__description/popup__description.css');
@import url('./__input/popup__input.css');
@import url('./__calc/popup__calc.css');
@import url('./__form/popup__form.css');
@import url('./__check/popup__check.css');
@import url('./__radiobox/popup__radiobox.css');
@import url('./__radio/popup__radio.css');
@import url('./__btn/popup__btn.css');
@import url('./_is-opened/popup_is-opened.css');

.popup {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: #b3b3b3;
    display: none;
    align-items: center;
    justify-content: center;
}