.popup__input {
    width: 488px;
    height: 40px;
    border: 1px solid #DFE3E6;
    border-radius: 3px;
    margin: 8px 0;
    padding: 0;
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}