.start-page__btn {
    height: 56px;
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    background: transparent;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 44px #CFDAE7);
    padding: 16px 32px; 
    cursor: pointer;
    position: relative;
    top: 50vh;    
    left: 50vw;                     
    transform: translate(-50%, -50%) 
}

.start-page__btn:hover {
    border: none;
    filter: none;
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 540px) {
    .start-page__btn {
        height: 40px;
        padding: 12px 24px;
        font-size: 12px;
        line-height: 16px;
    }
}