.popup__title {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .popup__title {
        font-size: 18px;
        line-height: 24px;
    }
}