.popup__calc {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border: none;
    background: transparent;
    color: #EA0029;
    padding: 0;
    margin: 0 0 12px;
    cursor: pointer;
}

.popup__calc:hover {
    color: #F53A31;
}

.popup__calc:focus {
    outline: none;
}